* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
	color: white;
	background: transparent;
	font-family: JetBrainsMonoNerdFont;
	font-size: 16px;
}

#workspaces button {
	font-size: 20px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 8px;
	background: rgba(51, 51, 51, 1);
	color: #bbbbbb;
}

#workspaces button.active {
	color: #ffffff;
	background: rgba(55, 71, 79, 1);
	font-weight: bold;
	border-bottom: 2px solid white;
}

#workspaces button:hover {
	color: #ffffff;
	background: rgba(55, 71, 79, 1);
	font-weight: bold;
	box-shadow: inherit;
	text-shadow: inherit;
}

#window {
	color: #ffffff;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

#network {
	color: black;
	background: rgba(157, 228, 220, 0.3);
	font-weight: bold;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#pulseaudio {
	color: black;
	background: rgba(130, 236, 144, 0.3);
	font-weight: bold;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#clock {
	color: black;
	background: rgba(255, 175, 169, 0.3);
	font-weight: bold;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#battery {
	color: black;
	background: rgba(224, 235, 139, 0.3);
	font-weight: bold;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#cpu,
#memory
{
	color: black;
	background: rgba(214, 158, 230, 0.3);
	font-weight: bold;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#pulseaudio:hover {
	color: black;
	background: #11cccc;
	box-shadow: inherit;
	text-shadow: inherit;
}

#tray {
	background: rgba(76, 74, 119, 0.3);
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
}

#custom-spaceright {
	font-size: 18px;
	padding-top: 2px;
	padding-left: 12px;
	padding-right: 12px;
	background: rgba(51, 51, 51, 1);
	color: #bbbbbb;
}
