* {
	font-family: JetBrainsMonoNerdFont;
	font-size: 16px;
}

window#waybar {
	color: #E4E4E4;
	background: transparent;
}

#custom-systemicon {
	font-size: 18px;
	background: rgba(76, 74, 119, 0.2);
	padding: 0px 14px 0px 10px;
}

#workspaces {
	background: rgba(51, 51, 51, 1);
	border-radius: 4px 0px 0px 4px;
}

#workspaces button {
	color: #bbbbbb;
	padding: 0px 6px 0px 4px;
	border-radius: 4px;
}

#workspaces button.active {
	color: #ffffff;
	background: rgba(156,174,101,0.62);
	font-weight: bold;
}

#workspaces button:hover {
	color: #ffffff;
	background: rgba(55, 71, 79, 1);
	font-weight: bold;
}

#custom-redirectsymbol {
	font-size: 18px;
	background: rgba(51, 51, 51, 1);
	padding: 2px 12px 0px 12px;
	border-radius: 0px 4px 4px 0px;
}

#window {
	font-weight: bold;
	padding: 2px 10px 0px 10px;
}

#network {
	background: rgba(51, 51, 51, 1);
	font-weight: bold;
	padding: 2px 8px 0px 14px;
	border-radius: 4px 0px 0px 4px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
	background: rgba(51, 51, 51, 1);
	font-weight: bold;
	padding: 2px 8px 0px 8px;
}

#clock {
	background: rgba(51, 51, 51, 1);
	font-weight: bold;
	padding: 2px 14px 0px 8px;
	border-radius: 0px 4px 4px 0px;
}

#tray {
	background: rgba(76, 74, 119, 0.2);
	padding: 2px 14px 0px 14px;
}
